*, *:before, *:after {
		  box-sizing: border-box;
		}


.header {
    
    padding-right: 110px; 
    padding-left: 110px;
    padding-bottom: 30px;
    padding-top: 5px;
    
}


.header img {
    
    width: 200px;
    float: left;
    
}

.signup {
    
    position: relative;
    left: 500px;
    word-spacing: 8px;
}

.profilepic {
    
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}

.profilepic img {
    
    width: 110px;
}

.username {

    position: absolute;
    left: 350px;
    width: 400px;
    font-size: 25px;
}

.followbutton {
    
    position: absolute;
    left: 550px;
    top: 100px;
}

.posts {
    
    position: absolute;
    left: 350px;
    top: 130px;
}

.followers {
    
    position: absolute;
    left: 450px;
    top: 130px;
}

.following {
    
    position: absolute;
    left: 600px;
    top: 130px;
}


.bio {
    
    position: absolute;
    left: 350px;
    top: 160px
}

.grid {
    
    width: 800px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    position: absolute;
    top: 230px;
    left: 100px;
}

.grid img {
    
    width: 200px;
    height: 200px;
}

.load {
    
    position:relative;
    top: 1000px;
}

.load button {
    
    position: absolute;
    left: 500px;
    
}
.footer {
    
    width: 1050px;
    position: absolute;
    top: 1100px;
}


.copyright {
    
    float: right;
}

.links {
    
    float: left;
}